img {
  position: center;
  display: block;
  height: auto;
  max-width: 100%;
}
.img-caption {
color: grey;
font-family: verdana;
font-size: 120%
}
h1 {
color: grey;
}
.page-background {
background-color: #fffdd0;
}